*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh; 
    background: #82713d;
    position: relative;
}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(234, 238, 187, 0.11);
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px); /* I dont like this affect*/
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;

}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;

}

.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

.definitions{
    width: 500px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);

}
#text{
    color: #fff;
    text-align: center;
    padding: 10px;
}

